/*base-layer*/

/*box-sizing*/
* {
	box-sizing: border-box;
}
/*header-nav*/
#header-nav {
  background-color: #152238;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 {
  font-family: "Times New Roman", Times, serif;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

/*navigation-list*/
#nav-list {
  margin-top: 10px;
}

/*navigation-list link*/
#nav-list a {
  color: #FFFFFF;
  text-align: center;
}
/*navigation-list link hover*/
#nav-list a:hover {
  background: #393935;
}

/*navbar button*/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;
}

/*menu*/
#menu {
	font-family: "Trebuchet MS", Helvetica, sans-serif;	
}

/*body css*/
body {
	font-family: Verdana, sans-serif;
	background-color: #FFFFFF;
}

/*css for section 1 - chicken*/
.section-1 {
	background-color: #d3d3d3;
}

/*css for section 1 - rock*/
.section-2 {
	background-color: #d3d3d3;
}

/*css for section 1 - blues*/
.section-3 {
	background-color: #d3d3d3;
}

/*header of the section*/
.header-2 {
	text-align: center;
	clear: both;
	font-size: 4vw;
	font-weight: 500;
	margin: 2px;
	
}

/*information about the topic*/
.text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	white-space: pre-wrap;
	padding: 10px;
	margin-top: 6px;
	text-align: justify;

}

/*link back to menu*/
#back-to-top {
	position: relative;
	padding: 5px;
	text-align: left;
	font-size: 2vw;
}

/********* Desktop View (MD) ********/
@media (min-width: 992px) {
	
	/*css for section 1 - chicken*/
	.section-1 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*css for section 1 - beef*/
	.section-2 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*css for section 3 - sushi*/
	.section-3 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*information about the topic*/
	.text {
		font-size: 1.5vw;
	}

	/*chicken section header*/
	.chicken {	
		font-size: 2vw;
		font-weight: 500px;
	}

	/*beef section header*/
	.beef {
		font-size: 2vw;
		font-weight: 500px;
	}

	/*sushi section header*/
	.sushi {
		font-size: 2vw;
		font-weight: 500px;
	}

	#back-to-top {
	font-size: 1.5vw;
	}
	
}

/********* Tablet View (SM) ********/
@media (min-width: 768px) and (max-width: 991px) {
	
	/*css for section 1 - chicken*/
	.section-1 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*css for section 2 - beef*/
	.section-2 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*css for section 3 - sushi*/
	.section-3 {
		position: relative;
		left: 30px;
		width: 95%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin-top: 30px;
	  	align-items: center;
	}

	/*information about the topic*/
	.text {
		font-size: 1.5vw;
	}

	/*chicken section header*/
	.chicken {
		font-size: 2.5vw;
		font-weight: 500px;
		
	}

	/*beef section header*/
	.beef {
		font-size: 2.5vw;
		font-weight: 500px;
	}

	/*suhsi section header*/
	.sushi {
		font-size: 2.5vw;
		font-weight: 500px;
	}

	#back-to-top {
	font-size: 1.5vw;
	}
	 
}


/********* Mobile View (XS) ********/
@media (max-width: 767px) {

	/*css for section 1 - chicken*/
	.section-1 {
		position: relative;
		width: 80%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin: auto;
	  	margin-top: 30px;
	  	align-items: center;
	    
	}

	/*css for section 2 - beef*/
	.section-2 {
		position: relative;
		width: 80%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin: auto;
	  	margin-top: 30px;
	  	align-items: center;
	    
	}

	/*css for section 3 - sushi*/
	.section-3 {
		position: relative;
		width: 80%;
		border: 2px solid green;
	  	padding: 2px; 
	  	margin: auto;
	  	margin-top: 30px;

	  	align-items: center;  
	}

	/*information about the topic*/
	.text {
		font-size: 2.3vw;
	}

	/*chicken section header*/
	.chicken {
		font-size: 3vw;
		font-weight: 500px;
	}

	/*beef section header*/
	.beef {
		font-size: 3vw;
		font-weight: 500px;
	}

	/*sushi section header*/
	.sushi {
		font-size: 3vw;
		font-weight: 500px;
	}

	#back-to-top {
	font-size: 2.3vw;
	}

	/*menu*/
	#menu {
	font-size: 5vw;
}

}